body {
	background-color: black;
	color:white;
	font-family: 'Times New Roman';
}
a:link {
	color: #ff0080;
}
a:visited {
	color: #9900ff;
}
a:hover, a:active {
	color: #00ffff;
}
table, td, th {
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}
tr:hover {
	background-color: #555555;
}